.add-form{
    margin-bottom: 40px;
    padding: 5px;
    background-color: rgba(0, 255, 255, 0.107);
}
.task {
    background-color: rgb(242, 242, 242);
    width: 100%;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
